* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

a:link, a:visited, a:active {
    color: #80cbc4; 
    background-color: transparent; 
    text-decoration: none;
}


a.institute_name:link, a.institute_name:visited, a.institute_name:active {
    color: #4caf50; 
    background-color: transparent; 
    text-decoration: none;
}

/*a:visited {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}
*/
a:hover {
    text-decoration: underline;
}
/*
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}


.sidebar a{
	color: white;
}

.education a{
	color: black;
}

.education a.institute_name{
	color: #767270;
}


.project a{
	color: black;
}

.interest a{
	color: black;
}

.profile a{
	color: white;
}

.body{
	background-color: #eae8e7;
    color: #767270;
}
/*FOR ENTIRE PAGE*/
.container-fluid {
	padding: 1rem 1.5rem;
    margin-top: 0%;
    max-width: 1280px;
    min-width: 1200px;
    margin-bottom: 10%;
}


.sidebar{
	background-color: #5f87cc;
	color: white;
	width: auto;
	margin-top: 5%;
	margin-left: 5%;
	padding-bottom: 1%;
    padding-top: 4%;
    float: left;

}


/*@media(max-width:767px){
	.sidebar{background-color: blue;}
}
@media(min-width:768px){
	.row .sidebar{background-color: red;}
}*/

/*@media(min-width:@screen-sm-min){
	.row .sidebar{width :100%; background-color: green;}
}*/
/*@media(min-width:1200px){
	.sidebar{background-color: yellow;}
}*/

.heading{
	    margin-left: -3.5%;
	    border-color: black;
}

.my_image{
	margin:auto;
	height: 40%;
	width: auto;
	padding-bottom: 3%;
	display: block;


}

.my_name{
	display: block;
	text-align: center;
	color: #d4d6db;
}


.details{
	margin-top: 4%;
	padding-bottom: 20px;
	border-bottom: 1px solid #4f4f51;
}



.detail_text{
	
}



.sidebar .icon{
    size: large;
    padding-top: 1%;
    padding-left: 10%;
    text-align: center;
}
.sidebar .phone{
	margin-top: 5%;
	padding-bottom: 20px;
	border-bottom: 1px solid #4f4f51;
}

.sidebar .phone_num{
	margin: 0px;
}

.sidebar .email{
	margin-top: 10%;
	padding-bottom: 20px;
	border-bottom: 1px solid #4f4f51;
}


.sidebar .address{
	margin-top: 10%;
	padding-bottom: 20px;
	border-bottom: 1px solid #4f4f51;
}

.sidebar .professional_skills{
	margin-top: 10%;
	padding-bottom: 20px;
	border-bottom: 1px solid #4f4f51;
}

.sidebar .achievements{
	margin-top: 10%;
}


.progress{
    position: relative;
    height: 2px;
    display: block;
    width: 100%;
    background-color: #acece6;
    border-radius: 2px;
    margin: 0.5rem 0rem 1rem 0;
    margin-bottom: 6%;
    overflow: visible;
}

.progress .determinate{
	height: 3px;
	position: absolute;
}

.sidebar .skills .progress{
	    background-color: #aacbff;
	    height: 1px;
	    overflow: visible;
}

.sidebar .skills .determinate{
	background-color: white;
}

.sidebar .skills .determinate .fa{
	font-size: 12px;
	position: absolute;
	top: -5px;
	right: 0px;
	margin-left: 50%;
}

/*.sidebar .skills .determinate .fa{
	font-size: 12px;
	top: -5px;
    right: 0px;
    position: absolute;
    
    margin-left: 50%;
}
*/
.container .row{
	margin-left: -0.75rem;
	margin-right: -0.75rem;
}

.sidebar .personal{
	margin-bottom: 20px;
	color: white;
}

.sidebar .work{
	margin-bottom: 20px;
}


.row .academics{
	margin-top: 3%;
	padding-left: 4%;
	padding-right: 4%;
	color: black;
	float: left;
}

.education{
	background-color: white;
	margin-bottom: 24px;
    padding-bottom: 24px !important;
    padding-left: 4%;
	padding-right: 4%;
	width: 100%;
	max-width: 100%;
}



.education .icon{
	    margin-top: 40px;
	    padding-left: 8%;
	    padding-right: 8%;
}

.education .row .education_details{
	margin-top: 40px;
}

.education .schooling{
		margin-top: 5%;
	    border-bottom: 1px solid #bdbdbd;
}

.education .undergraduate{
		margin-top: 5%;
	    border-bottom: 1px solid #bdbdbd;
}


.project{
	background-color: white;
	padding-left: 4%;
	padding-right: 4%;
	margin-bottom: 24px;
    padding-bottom: 24px !important;
    width: 100%;
    max-width: 100%;
}



.project .icon{
	    margin-top: 40px;
	    padding-left: 8%;
	    padding-right: 8%;
	    
}

.project .row .project_details{
	margin-top: 40px;
}

.project .summer_project{
		margin-top: 5%;
	    border-bottom: 1px solid #bdbdbd;
}

.project .dsa_project{
		margin-top: 5%;
	    border-bottom: 1px solid #bdbdbd;
}

.interest{
	background-color: white;
	padding-left: 4%;
	padding-right: 4%;
	margin-bottom: 24px;
    padding-bottom: 24px !important;
    width: 100%;
    max-width: 100%;
}


.interest .icon{
	    margin-top: 40px;
	    padding-left: 8%;
	    padding-right: 8%;
	    width: 100%;
}

.interest .row .interest_details{
	margin-top: 40px;
}

.interest .interest_icons{
		margin-top: 5%;
	    border-bottom: 1px solid #bdbdbd;
}

.interest .icon_text{
	display: block;
	color: black;
	opacity: 0.4;
	font-size: small;
}


.profile{
	background-color: #5f87cc;
	color: white;
	padding-left: 4%;
	padding-right: 4%;
	margin-top: 1%; 
	/*margin-bottom: 24px;*/
    padding-bottom: 24px !important;
    width: 100%;
    max-width: 100%;
}


.profile .icon{
	    margin-top: 40px;
	    padding-left: 8%;
	    padding-right: 8%;
	    width: 100%;
}

.profile .row .profile_details{
	margin-top: 40px;
}

.profile .profile_linkedin{
	padding-bottom: 2%;
	border-bottom: 1px solid #bdbdbd;
}


.profile .icon_text{	
	color: black;
	font-size: x-large;
	margin-left: -2%;
}


.sidebar .my_name h2{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.sidebar .my_name h5{
	font-family: 'Raleway', sans-serif;
}

.sidebar .professional_skills span{
	font-family: 'Acme', sans-serif;
	font-size: large;
}

.sidebar .achievements span.achievement_title{
	font-family: 'Acme', sans-serif;
	font-size: large;
	text-decoration: underline;
}

.sidebar .achievements span.achievement_detail{
	font-family: 'Acme', sans-serif;	
}

.sidebar .achievements ul{
	padding-left: 5%;
}

.sidebar .achievements li{
	margin-bottom: 3%;
}

.sidebar span{
	font-family: 'Vollkorn', serif;

}


.academics h2{
	font-family: 'Ubuntu', sans-serif;
}

.academics h4{
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold; 
}

.academics h4 span{
	font-family: 'Droid Sans', sans-serif;
}


.academics span{
	font-family: 'Artifika', serif;
}

.academics h4 span{
	font-size: 12pt;
}

.education h2{
	margin-bottom: 45px;
}

.education h4 span{
	    color: #767270;
	    margin-top: 0px;
	    line-height: 15pt;
	    font
}

.education span{
	color: #5da4d9;
	margin-top: 0px;
    font-size: 10pt;
    line-height: 15pt;

}

.project h2{
	margin-bottom: 45px;
}

.project h4 span{
	    color: #767270;
	    margin-top: 0px;
	    line-height: 15pt;
}

.project span{
	color: #5da4d9;
	margin-top: 0px;
    font-size: 10pt;
    line-height: 15pt;

}

.interest h2{
	margin-bottom: 45px;
}

.interest h4 span{
	    color: #767270;
	    margin-top: 0px;
	    line-height: 15pt;
}

.interest span{
	color: #5da4d9;
	margin-top: 0px;
    font-size: 10pt;
    line-height: 15pt;

}


.interest ul{
	padding: 0px;
}

.interest li{
	list-style-type: none;
    display: inline-block;
    width: 19%

}


.profile h2{
	margin-bottom: 45px;
}

.profile h4{
	color: white;
	 
}

.profile span{
	color: #5da4d9;
	margin-top: 0px;
    font-size: 10pt;
    line-height: 15pt;

}



.profile ul{
	padding: 0px;
}

.profile li{
	list-style-type: none;
    display: inline-block;
    width: 15%

}


.sidebar .info span{
	opacity: 0.7;
	font-weight: 300;
	color: #eaeaea;
	margin-top: 0px;
}



.sidebar .personal h5{
	margin: 0px;
}

.sidebar .work h5{
	margin: 0px;
}
